:root {
  --primary-color: #3f3eed;
  --secondary-color: #373737;
}
body {
  margin: 0;
  font-family: "Josefin Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle, #202020 0%, #141414 100%);
  color: #fff;
  max-width: 1600px;
  margin: 0 auto;
}
p {
  margin: 0;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
